<div id="add-assessment-modal" class="modal hide">
    <header>
Add Assessment
        <button class="close">X</button>
    </header>
    <section>

<input type="text" id="add-assessment-name">
<select id="add-assessment-metric">
    <option value="boolean">True/False</option>
    <option value="grade">Grade</option>
    <option value="amount">Amount</option>
</select>
<button id="add-assessment-btn">Add Assessment</button>
    </section>
</div>

<script src="scripts/add-assessment.js"></script>