<div id="add-habit-modal" class="modal hide">
    <header>
Add Habit
        <button class="close">X</button>
    </header>
    <input id="add-habit-name" type="text">
<button id="add-habit-btn">Add Habit</button>
</div>

<script src="scripts/add-habit.js"></script>