<div id="add-assessment-modal" class="modal hide">
Add Assessment
<input type="text" id="add-assessment-name">
<select>
    <option value="boolean">True/False</option>
    <option value="grade">Grade</option>
    <option value="amount">Amount</option>
</select>
<button id="add-assessment-btn">Add Assessment</button>
</div>