<div class="modal hide" id="add-item-modal">
    <header>Add What?
        <button class="close">X</button>
    </header>
    <div>
        <section class="add" data-action="add-assessment">
      <span data-mod="analysis-section" id="analysis-nav-btn" class="material-icons">pie_chart</span>
            <p>New Assessment</p>
        </section>
        <section class="add" data-action="add-habit">
                  <span data-mod="test-section" id="test-habit-nav-btn" class="material-icons">science</span>

            <p>New Habit</p>
        </section>
    </div>
</div>