<div class="modal hide" id="add-item-modal">
    <header>Add What?
        <button class="close">X</button>
    </header>
    <div>
        <section class="add" data-action="add-assessment">
            <image src="./assets/images/new-assessment-png"></image>
            <p>New Assessment</p>
        </section>
        <section class="add" data-action="add-habit">
            <image src="./assets/images/new-habit-png"></image>
            <p>New Habit</p>
        </section>
    </div>
</div>