        <section id="daily-queue-section" class="mod mhide">
          Queue
          <section class="module-content">
            <input id="new-queue-text" type="text">
            <button id="add-queue-item-btn">Add</button>

          </section>
          <section id="queue-cont" class="button-cont">
            {{#each this as |qi|}}

                <button draggable="true" data-ordinal="{{this.user_queue_item.dataValues.ordinal}}"
                {{#if this.dataValues.isComplete}}
                class="done"
                {{/if}}
                
                data-queue-item-id="{{this.user_queue_item.dataValues.id}}"
                 data-id="{{this.dataValues.id}}">{{this.user_queue_item.queueitem.dataValues.name}}</button>
            {{/each}}
          </section>
        </section>

        <script src="./scripts/queue.js"></script>
        <script src="./scripts/drag.js"></script>