        <section id="daily-queue-section" class="mod mhide">
          <h2>Daily Queue</h2>
          <section class="module-content">
            <input id="new-queue-text" type="text">
            <button id="add-queue-item-btn"

          </section>
        </section>

        <script src="./scripts/queue.js"></script>