<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />


    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
  
    <link rel="stylesheet" href="./assets/styles.css/reset.css" />
    <link rel="stylesheet" href="./assets/styles.css/style.css" />

    <title>Skin'R</title>
  </head>
  <body>
    <header>
      <h3 id="glass">⌕</h3>
      <h3 id="current-page">Habits</h3>
      <button>
        &plus;
      </button>
    </header>
    <main>

    {{{body}}}
    </main>

    <footer>
      <span id="analysis-nav-btn" class="material-icons">task</span>
      <span id="test-habit-nav-btn" class="material-icons">science</span>
      <span id="analysis-nav-btn" class="material-icons">pie_chart</span>
    </footer>
  </body>
</html>
