:root{
    --dark-bg:hsl(300, 100%, 25%);
    --med-bg:hsl(300, 27%, 67%);
    --light-bg:hsl(0, 17%, 91%);
}

body{
    background-color: var(--light-bg);
}

header{
    background-color: var(--dark-bg);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    align-items: center;
}

#glass{
    font-size: 2rem;
    padding-left: 0.5em;
    padding-bottom: .1em;
}

header>h3{
    font-size: 1.5rem;
}

header>button{
    background-color: purple;
    font-size: 1.5rem !important;
    font-weight: bolder !important;
}

#mid{
    background-color: var(--med-bg);
    padding: 1em;
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.to-do-wrapper{
    width: 100%;
    background-color: #80008017;
    display: flex;
}

.task-btn, .to-do-btn{
    height: 1.5rem;
    width: 1.5rem;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--dark-bg);
    display: flex;
    padding: 1em;
}

footer>i{
    background-color: white;
    border-radius: 50%;
}


.done::before{
    content: "x";
}

.done-text{
    text-decoration: line-through;
}

@media screen and (max-width: 600px) {
    .mhide {
      display: none;
    }
  }