:root{
    --dark-bg:hsl(300, 100%, 25%);
    --med-bg:hsl(300, 27%, 67%);
    --light-bg:hsl(0, 17%, 91%);
}

body{
    background-color: var(--light-bg);
    height: 100vh;
}

h2{
    font-size: 2rem;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}

button,input[type="submit"]{
    background-color: var(--light-bg);
    padding: 5px 10px;
    cursor: pointer;
}

button:hover{
    background-color: var(--med-bg);
    color: var(--light-bg);
}

header{
    background-color: var(--dark-bg);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    align-items: center;
}

#glass{
    font-size: 2rem;
    padding-left: 0.5em;
    padding-bottom: .1em;
}

header>h3{
    font-size: 1.5rem;
}

header>button{
    background-color: purple;
    font-size: 1.5rem !important;
    font-weight: bolder !important;
}

.mod{
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.modal{
    position: absolute;
    left: 50%;
    width: 400px;
    text-align: center;
    background: white;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal>div{
    display: flex;
    justify-content: space-around;
}

.modal section{
    padding: 1em;
    cursor: pointer;
}


main{
    height: 85vh;
    overflow: auto;
}

#mid{
    background-color: var(--med-bg);
    padding: 1em;
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.main-container{
    display: flex;
    justify-content: space-around;
    height: 70vh;
    margin-top: 10px;
}
#queue-cont button:not(.done){
    background-color: red;
    color:white;
    font-size: 2em;
}

#queue-cont button:not(.done)~button{
    background-color:initial;
    font-size: initial;
    color:initial;
}


.to-do-wrapper,.btn-wrapper{
    width: 100%;
    background-color: #80008017;
    display: flex;
    margin: .3em 0;

}

.task-btn, .to-do-btn, .item-btn{
    width: 2rem;
    background-color: white;
    border-radius: 0;
    height: 2rem;
    }

.to-do,.item{
    padding: .5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    background-color: var(--dark-bg);
    display: flex;
    justify-content: space-evenly;
}

footer>span{
    padding: 0.6em 1em;
    cursor: pointer;
    color:white;
}



.to-do-btn:hover::before, .done::before{
    content: "\2713";
    font-weight: 900;
    font-size: 1.15rem;
}

.done-text{
    text-decoration: line-through;
    opacity: .5;
}

.hide{
    display: none;
}

.log-reg-wrapper{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 100px;
}

  .log-reg-section input{
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
  }


  .form-group{
      display: flex;
      justify-content: space-between;
      margin: 10px;
      align-items: center;
  }

  .button-cont{
      display: flex;
      flex-direction: column;
  }
  .button-cont button{
      width:100%
  }

  .drag-over {
    border: dashed 3px red;
}



  @media screen and (max-width: 600px) {
    .log-reg-wrapper {
      flex-direction: column;
      margin-top: 30px;
    }
  }


@media screen and (max-width: 600px) {
    .mhide {
      display: none;
    }
  }
