    <section id="mid">
      <h4>
        <span id="date">Tues 4/26/22</span> - Day <span id="day-number"></span>
      </h4>
      <button id="log-out-btn">Log-out</button>
    </section>
    <div class="container">

      <div class="row">
        <section id="daily-queue-section" class="col-sm module">
          <h2>Daily Queue</h2>
          <section class="module-content"></section>
        </section>
        <section id="to-dos-section" class="col-sm module">
          <h2>To Dos</h2>
          <section class="module-content to-dos-content">
            <form action="" id="add-to-do-form">
            <input id="new-to-do" type="text"/>
            <input type="submit">
            </form>
            {{#each toDos}}
              {{#unless this.isComplete}}
                <button data-to-do-id="{{this.id}}" data-is-complete="{{this.isComplete}}" class="to-do-btn">
                {{this.name}}
                </button>
                {{/unless}}
            {{/each}}
          </section>
        </section>
      </div>
    </div>
  <script src="./scripts/home.js"></script>
    <script src="./scripts/todo.js"></script>