    <section id="mid">
      <h4>
        <span id="greeting">Hello, {{username}}!</span>
        <span id="date">{{today}}</span> - Day <span id="day-number"></span>
      </h4>
      <button id="log-out-btn">Log-out</button>
    </section>
    <div class="main-container">
      {{> queuesec queue}}
      {{> todosec userToDos}}
      {{> habitsec habits}}
        

      {{> add-item }}
      {{> add-assessment}}
      {{> add-habit}}
  <script src="./scripts/home.js"></script>
    <script src="./scripts/todo.js"></script>
     <script src="./scripts/habit.js"></script>
    <script src="./scripts/other-habit-calls.js"></script>