    <section id="mid">
      <h4>
        <span id="greeting">Hello, {{username}}!</span>
        <span id="date">Tues 4/26/22</span> - Day <span id="day-number"></span>
      </h4>
      <button id="log-out-btn">Log-out</button>
    </section>
    <div class="main-container">
      {{> queuesec queue}}
      {{> todosec userToDos}}
        
        <section id="habit-section" class="mod mhide">
          <h2>Today's Habits</h2>
          <section class="module-content"></section>
        </section>

      </div>
      {{> add-item }}
      {{> add-assessment}}
  <script src="./scripts/home.js"></script>
    <script src="./scripts/todo.js"></script>