
<section>

<h2>
Congratulations.
</h2>
<p>
You have successfully registered for SKNR, the web's premier habit-molding app.
There are several features, some more technical than others, available to you, and 
many new features will be added down the road. For now, there are four basic modules that 
you should focus on. 
</p>
<p>
    Most of these modules deal with an aspect of your daily life.
</p>

</section>
<h3>
THE QUEUE
</h3>
<p>
    Our lives are full of routines. Often ones that we are entirely unconscious of. This module 
    intends to change that. The Queue will be a list of actions to be performed in sequential
    order each and every day. This module allows you to add items, alter the order of items,
    delete items, add detail to items, and specify if an item is conditional (e.g. only 
    done on weekends, the winter, or when not on vacation). 
</p>
<p>
    Perform these items every day and check them off when they are completed. If you decide to
    skip an item, SKNR will ask why. Come up with a good enough reason, then skip away, but 
    often this hesitation is nothing but temporary.
</p>
<p>
    SKNR provides a starter queue as a placeholder. Feel free to use it for a day or two to 
    acclimate yourself to the interface On the other hand, if you have a queue in mind and are
    antsy to implement it, then just amend it to your liking right off the bat.
</p>

